#INFO204 Assignment
---
*Jackson Kerr | 2942576*

##Gettin That Data:
Let's start by importing the modified boston data.

In [4]:
import pandas as pd
import io
from google.colab import files

uploaded = files.upload()
for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

bost = pd.read_csv(io.BytesIO(uploaded['modified_boston.csv']), index_col=0)

Saving modified_boston.csv to modified_boston (1).csv
User uploaded file "modified_boston.csv" with length 48485 bytes

##Overview
Examining the obvious

####Layout:
A look at the variables

In [6]:
bost.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     506 non-null    float64
 1   zn       506 non-null    float64
 2   indus    506 non-null    float64
 3   chas     506 non-null    float64
 4   nox      506 non-null    float64
 5   rm       506 non-null    float64
 6   age      506 non-null    float64
 7   dis      506 non-null    float64
 8   rad      506 non-null    float64
 9   tax      506 non-null    float64
 10  ptratio  506 non-null    float64
 11  b        506 non-null    float64
 12  lstat    506 non-null    float64
 13  medv     506 non-null    float64
dtypes: float64(14)
memory usage: 59.3 KB

Looks simple. No missing values. All float64 decimal numbers.

####Data:
Looking at the properties of the data in each variable

In [7]:
bost.describe()

             crim          zn       indus  ...           b       lstat        medv
count  506.000000  506.000000  506.000000  ...  506.000000  506.000000  506.000000
mean     3.613524   11.363636   11.136779  ...  356.674032   12.653063   15.606038
std      8.601545   23.322453    6.860353  ...   91.294864    7.141062    9.480268
min      0.006320    0.000000    0.460000  ...    0.320000    1.730000    1.134841
25%      0.082045    0.000000    5.190000  ...  375.377500    6.950000   10.492041
50%      0.256510    0.000000    9.690000  ...  391.440000   11.360000   13.099290
75%      3.677082   12.500000   18.100000  ...  396.225000   16.955000   16.967099
max     88.976200  100.000000   27.740000  ...  396.900000   37.970000   48.819313

[8 rows x 14 columns]

Some notes:
- Standard deviation is not uniform across all variables meaning some may need to be scaled.